印出九九乘法表

In [3]:
for i in range(1, 10):
  for j in range(1, 10):
    print(i*j, end = " ")
  print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

利用串列生程式的方式列出英文字母

In [7]:
alphabet = [chr(i) for i in range(97, 123)]
print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

用dict這個結構儲存並列出自己的資料

In [12]:
dic = {'Name': 'minhao', 'Age': 21, 'ID': '41071102H', 'Major': 'CSIE'}
for i in dic:
  print(i, ':', dic[i])

Name : minhao
Age : 21
ID : 41071102H
Major : CSIE

下方全為課堂練習

In [ ]:
print('Hello World')

Hello World

In [ ]:
a = 1
b = c = a
print(a)
print(b)
print(c)

2
2
2

In [ ]:
a = 1
b = a
a = 2
print(a)
print(b)

2
1

In [ ]:
a = """abcd
efgh
ijkl"""
print(a)

abcd
efgh
ijkl

In [ ]:
a = '0123456789abcdef'
print(a[0])
print(a[3])
print(a[-1])
print(a[:])
print(a[5:])
print(a[:5])
print(a[5:10])
print(a[5:-3])
print(a[5:10:2])

0
3
f
0123456789abcdef
56789abcdef
01234
56789
56789abc
579

In [ ]:
a = 'hello world'
print(len(a))

11

In [ ]:
a = 'hello world, I am oxxo, how are you?'
b = a.split(',')
c = a.split(' ')
d = a.split()
print(b)
print(c)
print(d)

['hello world', ' I am oxxo', ' how are you?']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']

In [ ]:
a = ['apple','banana','orange']
b = [1,2,3,4,5]
c = ['apple',1,2,3,['dog','cat']]
d = list('apple')
print(a)
print(b)
print(c)
print(d)

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3, ['dog', 'cat']]
['a', 'p', 'p', 'l', 'e']

In [ ]:
t = ('apple','banana','orange','grap')
a, b, c, d = t
print(a)
print(b)
print(c)
print(d)

print(t[0])
print(t[1])
print(t[2])
print(t[3])

apple
banana
orange
grap
apple
banana
orange
grap

In [ ]:
t1 = ('apple','banana','orange')
t2 = ('grap','pineapple')
t = t1 + t2
print(t)

('apple', 'banana', 'orange', 'grap', 'pineapple')

In [ ]:
a = dict(name='oxxo', age=18, eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

In [ ]:
a = set()
b = set([1,2,3,4,5,1,2,3,4,5])
c = set({'x':1,'y':2,'z':3})
d = set('hello')
print(a)
print(b)
print(c)
print(d)

set()
{1, 2, 3, 4, 5}
{'z', 'x', 'y'}
{'l', 'h', 'o', 'e'}

In [ ]:
a = 3
b = 2
if a > b:
  print('hello')
print('ok')

hello
ok

In [ ]:
a = 2
b = 3
if a > b:
  print('hello')
else:
  print('world')
print('ok')

world
ok

In [ ]:
a = 2
b = 3
if a < b:
  print('a<b')
  if a == 1:
    print('a=1')
  elif a == 2:
    print('a=2')
  elif a == 3:
    print('a=3')
elif a > b:
  print('a>b')
else:
  print('a=b')
print('ok')

a<b
a=2
ok

In [ ]:
a = 2
b = 3
c = 0
if a > b or a < c and a == 2 or b == 4:
  priint('ok1')
else:
  print('xxx')

xxx

In [ ]:
for a in ['x', 'y', 'z']:
  for b in [1, 2, 3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [ ]:
for a in ['x', 'y', 'z']:
  for b in [1, 2, 3]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [ ]:
i = []
for t in range(10):
  t += 1
  i.append(t)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = int(input('輸入數字：'))
print(a + 1)
print('hello')
try:
  a = input('輸入數字:')
  print(a+1)
except:
  pass
print('hello')

輸入數字：15
16
hello
輸入數字:34
hello

In [2]:
b = [j*j for j in range(1, 10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]